@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-area3">
<div class="container">
<div class="row">
<div class="col-lg-8 col-12">
<div class="big-content">
<div class="inner">
<h4 class="title">Mega sale up to <span>50%</span> off for all</h4>
<p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum deleniti nam in quos qui nemo ipsum numquam.</p>
<div class="button">
<a href="#" class="btn">Shop Now</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-12">
<div class="small-content first">
<div class="inner">
<h4 class="title">Awesome Bag <br> 2020</h4>
<div class="button">
<a href="#" class="btn">Shop Now</a>
</div>
</div>
</div>
<div class="small-content secound">
<div class="inner">
<h4 class="title">Summer travel <br> collection</h4>
<div class="button">
<a href="#" class="btn">Discover Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

