@model Eshop.Models.Account
@section breadcrumbs{
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a asp-controller="Home" asp-action="Index">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active">User Details <i class="ti-arrow-right"></i>Security</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<div class="containerUser mainUser">
        <div class="leftItem">
            <div class="borderItem">
                <div class="border first">
                <a asp-action="UserDetails" asp-route-id="@Model.Id"><div class="items"><i class="fa-solid fa-user" style="padding-right:10px;"></i>Tài khoản</div></a>
            </div>
            <div class="border">
                    <a href="#"><div class="items"><i class="fa-solid fa-cart-shopping" style="padding-right:10px"></i>Lịch sử đơn hàng</div></a>
            </div>
            <div class="border last">
                    <a asp-action="ChangePassUser" asp-route-id="@Model.Id"><div class="items"><i class="fa-solid fa-user-lock" style="padding-right:10px"></i>Mật khẩu và bảo mật</div></a>
            </div>
        </div>
        </div>
        <div class="rightItem">
            <div>
                <h4>Mật khẩu & bảo mật</h4>
                <div class="userP">Vui lòng nhập mật khẩu cẩn thận, mật khẩu phải từ 6 đến 20 kí tự</div>
            </div>
            <div class="line"></div>
            <form class="formavatar" asp-action="ChangePassUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <fieldset>
                    <h5>Đổi mật khẩu</h5>
                    <div class="form-group pass">
                        <label asp-for="Password" class="control-label">Nhập mật khẩu hiện tại</label>
                        <input name="oldPass" id="oldPass" type="password" required/>
                    </div>
                    <div class="form-group pass">
                        <label asp-for="Password" class="control-label">Nhập mật khẩu mới</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group pass">
                        <label>Nhập lại mật khẩu mới</label>
                        <input id="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" required/>
                        <span class="text-danger">@ViewBag.errorPass</span>
                    </div>
                    <div class="form-group" style="margin:15px 0">
                        <h6 class="text-danger">@ViewBag.Pass</h6>
                    </div>
                    <button type="submit" class="btn">Save</button>
                </fieldset>

            </form>
        </div>
    </div>
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
