@section breadcrumbs{
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a asp-controller="Home" asp-action="Index">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active">Login</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}
	<section class="shop login section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="login-form">
						<h2>Login</h2>
						<p>Please register in order to checkout more quickly</p>

						<form class="form" method="post" asp-controller="Accounts" asp-action="Login">
							<div class="row">
							@if (ViewBag.error != null)
							{
								<h4 style="color:red">@ViewBag.error</h4>
							}
							<div class="col-12">
									<div class="form-group">
										<label>Your Email or UserName<span>*</span></label>
										<input type="text" name="email" placeholder="" required="required">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label>Your Password<span>*</span></label>
										<input type="password" name="password" placeholder="" required="required">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group login-btn">
										<button class="btn" type="submit">Login</button>
										<a asp-controller="Accounts" asp-action="Register" class="btn">Register</a>
									</div>
									<div class="checkbox">
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Remember me</label>
									</div>
									<a href="#" class="lost-pass">Lost your password?</a>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
