.containerUser{
    display: flex;
    font: 14px sans-serif;
}
.mainUser{
    margin: 21px 117px;
    padding: 0 21px;
}
h4{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}
.text{
    display: block;
}
.line{
    position: relative;
    padding: 5px 0 20px 0;
}
.line::after{
    position: absolute;
    content: "";
    height: 1px;
    border-bottom: solid 1px rgba(156,163,175,.25);
    width: 100%;
}
.lineavatar{
    margin: 0 10px;
    height: 100%;
    line-height: 20px;
}
.lineavatar::after{
    content: "";
    border-left: solid 1px rgba(156,163,175,.25);
    height: 100%;
    display: block;
}
.containerUser img{
    width: 154px;
    height: 154px;
    border-radius: 999px;
}
.containerUser .form{
    margin-left: 20px;
}
.avatar{
    margin-bottom: 15px;
}
.formavatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formavatar fieldset{
    border: none;
}
fieldset button{
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-color: #b8bbc0;
    border-width: 1px;
    color: #2579f2;
    border-radius: 5px;
    cursor: pointer;
}
fieldset button:hover{
    border-color: #2579f2;
}
.item{
    width: 203px;
    padding: 9px 13px 9px 0;
}
#email{
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightItem{
    width: 80%;
    margin-left: 21px;
    padding: 35px;
    border: solid 1px rgba(156,163,175,.25);
    background-color: #fff;
    border-radius: 10px;
}
.leftItem{
    width: 20%;
}
.item div{
    padding-top: 10px;
    padding-bottom: 10px;
}
.borderItem{
    border-left: solid 1px rgba(156,163,175,.25);
    border-right: solid 1px rgba(156,163,175,.25);
}
.leftItem a{
    display: flex;
    text-decoration: none;
   padding: 21px;
}
.border{
    border-top:solid 1px rgba(156,163,175,.25);
}
.first,.borderItem{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.last,.borderItem{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.last{
    border-bottom: solid 1px rgba(156,163,175,.25);
}
.border a{
    color: #6b6d70;
}
.border a:hover{
    color: #111827;
}
.title{
    color: #374151;
}
.data{
    font-weight: 600;
}
.items{
    font-size: 14px;
    font-weight: 600;
}
.Edit{
    width: 41%;
}
.Edit fieldset{
    border: none;
}
.editU{
    margin: 10px 0;
}
.editU input{
    border-color: rgba(156,163,175,.25);
    border-radius: 8px;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px!important;
}
.editU input:focus,.editU input:hover{
    --f:#2579f2;
    border-color: #2579f2;
}
.check{
    margin: 10px;
    font-size: 15px;
    display:block;
}
.check div{
    display: inline-block;
}
.userP{
    padding:10px 0;
}
.pass{
    margin: 25px 0;
    width:40%
}
.pass label{
    display:block;
    font-size:16px;
    font-weight:600;
}
.pass input{
    color: #666;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin:5px 0;
    width:100%;
}
fieldset button{
    width:15%;
}